@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IJSRuntime JS

<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" crossorigin=""/>

<div class="page">
    <header class="fixed-top bg-white shadow-sm">
        @if (
            !NavigationManager.Uri.Contains("/Account/login") &&
            !NavigationManager.Uri.Contains("/Account/register") &&
            !NavigationManager.Uri.Contains("/Account/ForgotPassword") &&
            !NavigationManager.Uri.Contains("/Account/InactiveAccount")
        )
        {
            <NavBar />
        }
    </header>

    <main style="margin-top: 70px;">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" crossorigin=""></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="scripts.js"></script>
