@page "/store/{name}"
@code {
    [Parameter] public string name { get; set; }
}
<h3 class="mt-3 text-center">Loja: @name</h3>
<p class="text-center text-muted">Página da loja ainda em construção.</p>